<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:usesCleartextTraffic="true" >
        <activity
            android:name=".post.PostActivity"
            android:exported="false" />

        <activity
            android:name=".post.PostSelectOptionActivity"
            android:exported="true"
            android:theme="@style/Theme.HearHere" />
    </application>

</manifest>